<h1>Se connecter</h1>
<form class="container" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  <input
    [ngClass]="{
      'is-valid': !formLogin.get('username').valid
    }"
    placeholder="Nom d'utilisateur"
    formControlName="username"
  /><br />
  <app-error-fileds [form]="formLogin" name="username"></app-error-fileds>
  <input
    placeholder="Mot de passe"
    type="password"
    formControlName="password"
  />
  <br />
  <app-error-fileds [form]="formLogin" name="password"></app-error-fileds>
  <button class="button-primary" [disabled]="formLogin.invalid">Envoyer</button>
</form>
