a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.button-primary {
  background-color: #5ba3ea;
  border-radius: 20px;
  padding: 0;
  border: none;
  padding: 15px;
  color: white;
  cursor: pointer;
}

.button-primary:disabled {
  color: grey;
  cursor: no-drop;
}

input {
  padding: 15px;
  border-radius: 20px;
  border-color: #5ba3ea;
  box-shadow: 0 0 10px #5ba3ea;
}
